<div class="center-container">

   
    <p class="animated-text">THE GREAT KIRIKALAN FOOD APP</p>
    <div class="wrapper">
        <div class="img-area">
            <div class="single-img img-one">
                
            </div>
        </div>
    </div>
      
    
    <form class="button-container">
      <a routerLink="/CustomerDetails"><button>customer</button></a>
      <a routerLink="/Catalogue"><button>Catalogue</button></a>
      <a routerLink="/OrderDetails"><button>OrderDetails</button></a>
      <button class="btn btn primary" (click)="playsound()">Play Sound</button>
    </form>    
</div>
  

  