<form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <!-- Name Field -->
    <div>
      <label for="name">UserName:</label>
      <input type="text" name="name" ngModel required #name="ngModel" />
      <div *ngIf="name.invalid && (name.dirty || name.touched)">
      </div>
    </div>
    
    <!-- Password Field -->
    <div>
      <label for="pass">Password:</label>
      <input type="password" name="pass" ngModel required #pass="ngModel" />
      <div *ngIf="pass.invalid && (pass.dirty || pass.touched)">
      </div>
    </div>
    
    <!-- Submit Button -->
    <button type="submit" [disabled]="userForm.invalid">Submit</button>
  </form>
  