<html>
    <body style="background-color: cadetblue;">
            <b style="color: brown; font-size:larger; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center"> HUKUM !!! TIGER KA HUKUM!!! </b><br><br>
            <legend>
                <form (ngSubmit)="tryAuthenticate()">
                    User Id: <input type="text" style="border: 3px solid; color: rgb(9, 9, 9)" name="UserId" [(ngModel)]="userID" placeholder="Enter the id" required/><br><br>
                    password: <input type="password"  style="border: 3px solid; color: rgb(20, 23, 22)"  name="password" [(ngModel)]="password" placeholder="Enter the password"  required/><br><br>  
                    <input type="submit" value="Sign in"/>&nbsp;&nbsp; <input type="reset" value="Reset"/>
                </form>
            </legend>
    </body>
</html>
<router-outlet></router-outlet>
